<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="width: 100%;height: 100%;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DNS Lookup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="caption v-middle text-center">
        <h1 class="cd-headline clip">
          <span class="blc">I'm | </span>
          <span class="cd-words-wrapper">
            <b class="is-visible">DNS Lookup.</b>
            <b>Riottecboi.</b>
          </span>
        </h1>
      </div>

      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-xxl-8 offset-xxl-9 col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-light" style="margin-bottom: 30px;">
            <div class="form-floating mb-3" style="text-align: center;">
              <input class="form-input" type="text" id="textInput" placeholder="Please type domain name in here">
            </div>
            <button class="btn btn-primary w-100" type="button">Search</button>
          </form>
        </div>
        <div class="col-xxl-8 offset-xxl-2 col-lg-7 text-center text-lg-start">
          <div class="table-responsive">
            <table class="table table-bordered" border="1" id="myTable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Ext.</th>
                  <th>City</th>
                  <th data-format="YYYY/MM/DD">Start Date</th>
                  <th>Completion</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Unity Pugh</td>
                  <td>9958</td>
                  <td>Curicó</td>
                  <td>2005/02/11</td>
                  <td>37%</td>
                </tr>
                <tr>
                  <td>asdsadwdasdaws</td>
                  <td>8971</td>
                  <td>Dhanbad</td>
                  <td>1999/04/07</td>
                  <td>97%</td>
                </tr>
                <tr>
                  <td>Kylie Bishop</td>
                  <td>3147</td>
                  <td>Norman</td>
                  <td>2005/09/08</td>
                  <td>63%</td>
                </tr>
                <tr>
                  <td>Willow Gilliam</td>
                  <td>3497</td>
                  <td>Amqui</td>
                  <td>2009/29/11</td>
                  <td>30%</td>
                </tr>
                <tr>
                  <td>Blossom Dickerson</td>
                  <td>5018</td>
                  <td>Kempten</td>
                  <td>2006/11/09</td>
                  <td>17%</td>
                </tr>
                <tr>
                  <td>Elliott Snyder</td>
                  <td>3925</td>
                  <td>Enines</td>
                  <td>2006/03/08</td>
                  <td>57%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-xxl-8 offset-xxl-9 col-md-10 mx-auto col-lg-5 map-div">
          <div class="map-cover">
            <div class="d-flex flex-row justify-content-center align-items-center map-title">
              <h1>Location map</h1>
            </div>
            <div class="d-flex d-lg-flex flex-row justify-content-center align-items-center align-items-lg-center map-content">

            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Rakhmadi/RdataTB@master/dist/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/script.min.js"></script>
  </body>
</html>