<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="width: 100%;height: 100%;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DNS Lookup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="caption v-middle text-center">
        <h1 class="cd-headline clip">
          <span class="blc">I'm | </span>
          <span class="cd-words-wrapper">
            <b class="is-visible">DNS Lookup.</b>
            <b>Riottecboi.</b>
          </span>
        </h1>
      </div>

      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-xxl-8 offset-xxl-9 col-md-10 mx-auto col-lg-5">
          <form method="post" action="/api/lookup" class="p-4 p-md-5 border rounded-3 bg-light" style="margin-bottom: 30px;">
            <div class="form-floating mb-3" style="text-align: center;">
              <input name="domain_or_ip" class="form-input" type="text" id="textInput" placeholder="Please type domain name in here">
            </div>
            <button class="btn btn-primary w-100" type="submit">Search</button>
          </form>
        </div>
        {% if domain_info|length != 0 %}
        <div class="col-xxl-8 offset-xxl-2 col-lg-7 text-center text-lg-start">
          <div class="table-responsive">
            <table class="table table-bordered" border="1" id="myTable">
              <thead>
                <tr>
                  <th>Domain Name(s)</th>
                  <th>Registrar</th>
                  <th>Whois Server</th>
                  <th data-format="YYYY/MM/DD">Updated Date</th>
                  <th data-format="YYYY/MM/DD">Creation Date</th>
                  <th data-format="YYYY/MM/DD">Expiration Date</th>
                  <th>Name Server(s)</th>
                  <th>Email(s)</th>
                  <th>Organization</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Country</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ domain_info.domain_name|join(', ') }}</td>
                  <td>{{ domain_info.registrar }}</td>
                  <td>{{ domain_info.whois_server }}</td>
                  <td>{{ domain_info.updated_date|join(', ') }}</td>
                  <td>{{ domain_info.creation_date|join(', ') }}</td>
                  <td>{{ domain_info.expiration_date|join(', ') }}</td>
                  <td>{{ domain_info.name_servers|join(', ') }}</td>
                  <td>{{ domain_info.emails|join(', ') }}</td>
                  <td>{{ domain_info.org }}</td>
                  <td>{{ domain_info.address }}</td>
                  <td>{{ domain_info.city }}</td>
                  <td>{{ domain_info.state }}</td>
                  <td>{{ domain_info.country }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        {% endif %}
        {% if domain_map|length != 0 %}
        <div class="col-xxl-8 offset-xxl-9 col-md-10 mx-auto col-lg-5 map-div">
          <div class="map-cover">
            <div class="d-flex flex-row justify-content-center align-items-center map-title">
              <h1>Location map</h1>
            </div>
            <div class="d-flex d-lg-flex flex-row justify-content-center align-items-center align-items-lg-center map-content" id="locationMap">
                {{ domain_map|safe }}
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Rakhmadi/RdataTB@master/dist/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/script.min.js"></script>
  </body>
</html>